<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.galenosys" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="GalenoSYS.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<queries>
		<!--Para envio de SMS -->
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="smsto" />
		</intent>
	</queries>
	<queries>
		<!--Para las llamadas -->
		<intent>
			<action android:name="android.intent.action.DIAL" />
			<data android:scheme="tel" />
		</intent>
	</queries>
	<queries>
		<!--Para envío de correos -->
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>